strong,
.strong,
.strong .p {
    color: rgb(230 110 24 / 95%);
}
.h1 .p,
.h2 .p,
.h3 .p,
.h4 .p,
.h5 .p,
.h6 .p,
.h7 .p,
h1, h2, h3, h4, h5, h6, h7 {
    color: orange
}

.cl-li ~ .token.p,
li, li > p {
    color: rgb(5 105 167);
}
.app--dark .cl-li ~ .token.p,
.app--dark li, 
.app--dark li > p {
    color: rgb(193 211 222);
}
.cl.cl-li {
    font-weight: bold!important;
}

blockquote p,
.blockquote .p {
    color: #839815;
}
.app--dark blockquote p,
.app--dark .blockquote .p {
    color: #9cb517;
}

.cl {
    color: rgb(84 193 57 / 88%);
}
/*
p,
 .p {
    color: #EBDFB4;
}
*/
.markdown-highlighting .token.cl,
.markdown-highlighting .token.hr {
    color: rgb(87 193 120 / 69%);
}
.app--dark .markdown-highlighting .token.cl,
.app--dark .markdown-highlighting .token.hr {
    color: hsl(106deg 84% 46% / 75%);
}

.markdown-highlighting .token.em {
    color: #3b57a9;
}

 .cl-preview-section a,
.markdown-highlighting .token.link {
    color: rgb(54 133 228);
}
.app--dark .cl-preview-section a,
.app--dark .markdown-highlighting .token.link {
    color: hsl(200deg 75% 74% / 78%);
}

.app--light code, 
.app--light .markdown-highlighting pre,
.app--light .markdown-highlighting .code,
.app--light .markdown-highlighting .token.pre {
    color: rgb(0 0 0);
}

.app--dark code,
.app--dark .markdown-highlighting pre,
.app--dark .markdown-highlighting .code,
.app--dark .markdown-highlighting .token.pre {
    color: hsl(56deg 88% 67% / 86%);
}
div.app--dark .markdown-highlighting .pre [class*=language-] {
    color: hsl(42deg 55% 93% / 75%);
}

/*     color: hsl(42deg 55% 93% / 75%); */
.app.app--dark .layout__panel--preview,
.app.app--dark .markdown-highlighting {
    color: rgb(255 242 197 / 85%);
}


.cl-preview-section code, 
 .code {
    background-color: rgb(112 123 110 / 12%);
}

.app--light pre .prism .token.function,
.app--light .token.pre.gfm .token.function {
    color: #1c790c;
}
.app--dark pre .prism .token.function,
.app--dark .token.pre.gfm .token.function {
    color: #45d82c;
}

pre .prism .token.keyword,
pre .prism .token.key.atrule,
 .token.pre.gfm span.token.key.atrule,
 .token.pre.gfm span.token.keyword {
    color: rgb(241 115 7);
    font-weight: bold!important;
}
pre .prism .token.string,
 .token.pre.gfm .token.string {
    color: rgb(179 38 5 / 91%);
}

.app--dark pre .prism .token.string,
.app--dark .token.pre.gfm .token.string {
    color: rgb(251 159 137 / 91%);
}
.app--dark .token.pre.gfm .token.string {
    color: #f1b06b;
}

div.app--dark .layout__panel--editor, 
div.app--dark .layout__panel--preview {
    background-color: #2d291fed;
}
