strong,
.strong,
.strong .p {
    color: rgb(230 110 24 / 95%);
}
.h1 .p,
.h2 .p,
.h3 .p,
.h4 .p,
.h5 .p,
.h6 .p,
.h7 .p,
h1, h2, h3, h4, h5, h6, h7 {
    color: orange
}

.cl-li + .token.p,
li, li > p {
    color: rgb(133 166 186);
}
.cl.cl-li {
    font-weight: bold!important;
}

blockquote p,
.blockquote .p {
    color: #b8c30f;
}

.cl {
    color: rgb(84 193 57 / 88%);
}
/*
p,
 .p {
    color: #EBDFB4;
}
*/

.cl-preview-section a,
 .link {
    color: rgb(224 238 255);
}

code, pre,
 .code,
 .pre {
    color: rgb(241 184 25 / 92%);
}

.cl-preview-section code, 
 .code {
    background-color: rgb(90 100 88 / 30%);
}

pre .prism .token.function,
 .token.pre.gfm .token.function {
    color: #b8c30f;
}

pre .prism .token.keyword,
pre .prism .token.key.atrule,
 .token.pre.gfm .token.key.atrule,
 .token.pre.gfm .token.keyword {
    color: rgb(241 115 7);
    font-weight: bold!important;
}
pre .prism .token.string,
 .token.pre.gfm .token.string {
    color: rgb(77 208 214 / 91%);
}
